<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/02/16 11:08:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.CreateLead()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@10bdf5e5]">CreateLead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/16 11:08:56</td>   <td>50829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_Editlead.EditLead()[pri:0, instance:bl.framework.testcases.TC002_Editlead@6e1ec318]">EditLead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/02/16 11:07:57</td>   <td>-8836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@10bdf5e5]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/02/16 11:08:46</td>   <td>40131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC002_Editlead@6e1ec318]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
</table>
